Repository javillegasna/Demo-Movies-App: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

test(test): :test_tube: vite test setup and page testing
  app/(detail)/movie/[id]/page.tsx
  components/composite/movie/movie-collection-dialog.tsx
  components/composite/movie/movie-collection.tsx
  components/composite/trend/trend-carousel.tsx
  components/ui/carousel.tsx
  package-lock.json
  package.json
  tests/app/detail/Loading.test.tsx
  tests/app/detail/MoviePage.test.tsx
  tests/app/home/Loading.test.tsx
  tests/app/home/Page.test.tsx
  tests/mocks/collections.ts
  tests/mocks/movie.ts
  tests/report/Findings.md
  tests/report/image-1.png
  tests/report/image-2.png
  tests/report/image-3.png
  tests/report/image-4.png
  tests/report/image.png
  tests/setup.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(test): :test_tube: Cypress setup for e2e testing
  .vscode/settings.json
  README.md
  cypress.config.ts
  package-lock.json
  package.json
  tests/e2e/cypress/cases/image.png
  tests/e2e/cypress/cases/test-cases.md
  tests/e2e/cypress/cases/test-cases.webm
  tests/e2e/cypress/e2e/HomePageRendering.cy.ts
  tests/e2e/cypress/e2e/MenuDropDown.cy.ts
  tests/e2e/cypress/e2e/ShearchMovie.cy.ts
  tests/e2e/cypress/e2e/ThemeSwap.cy.ts
  tests/e2e/cypress/fixtures/example.json
  tests/e2e/cypress/support/commands.ts
  tests/e2e/cypress/support/e2e.ts
  tests/report/Findings.md
  tests/report/coverage.md
  tests/report/image-10.png
  tests/report/image-5.png
  tests/report/image-6.png
  tests/report/image-7.png
  tests/report/image-8.png
  tests/report/image-9.png
  tests/unit-test/app/detail/Loading.test.tsx
  tests/unit-test/app/detail/MoviePage.test.tsx
  tests/unit-test/app/home/Loading.test.tsx
  tests/unit-test/app/home/Page.test.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update test-cases.md
  tests/e2e/cypress/cases/test-cases.md
Due: prettier --write --ignore-unknown

ci(test): :green_heart: CI setup on gh actions
  .github/workflows/unit-test.yml
Due: prettier --write --ignore-unknown

ci(test): :green_heart: fix cahe
  .github/workflows/unit-test.yml
Due: prettier --write --ignore-unknown

test(test): :test_tube: increase coverage
  lib/tmdb/models/person.ts
  tests/e2e/cypress/cases/test-cases.webm
  tests/mocks/person.ts
  tests/unit-test/app/detail/Person.test.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{css,json,md,yml}
